:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 50%);
  --black: hsl(0, 0%, 7%);
}
body {
  font-size: 16px;
  background-color: var(--yellow);
  font-weight: 600;
  font-family: Figtree;
  font-weight: 600;
}
.container {
  padding: 3%;
  display: flex;
  margin: 10% auto 10% auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 400px;
  height: 20%;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 20px;
  box-shadow: 7px 7px 0;
}
.container:hover {
  border: 5px solid #000;
  box-shadow: 7px 7px 0;
}
h1 {
  font-weight: 800;
  margin: -15px 20px 5px 0;
  font-size: 30px;
}
h1:hover {
  color: var(--yellow);
  text-shadow: 0 0 3px #000;
}
.learning {
  background-color: var(--yellow);
  padding: 5px 15px 5px 15px;
  border-radius: 3px;
  font-weight: 900;
  font-size: 15px;
  margin: 25px 0 -15px 0;
}
.learning:hover {
  background-color: var(--white);
  border: 2px solid #ff4500;
}
.publishDate {
  margin: 0;
}
.mainText {
  font-weight: 300;
  color: var(--grey);
  margin: 5px 5px 20px 0;
  font-size: 20px;
}
img {
  width: 100%;
}
.icon {
  border-radius: 10px;
}
.icon:hover {
  border: 5px solid #ff4500;
}
.author {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
}
.avatar {
  width: 15%;
  margin: 0 10px 0 0;
}
.avatar:hover {
  border: 2px solid var(--yellow);
  border-radius: 50px;
}
.authorName {
  font-weight: 900;
}
.authorName:hover {
  font-weight: 900;
  color: var(--yellow);
  text-shadow: 0 0 3px #000;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: #3d51a2;
}
@media all and (max-width: 600px) {
  .container {
    height: 60%;
    width: 60%;
  }
}
